
.carousel-inner .carousel-item {
  height: 500px !important;
}

.carousel-img {
  height: 100% !important;
  width: 100% !important;
  
}


@media (max-width: 768px) {
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 220px !important;
    max-height: 220px !important;
    min-height: 220px !important;
  }

  .carousel-img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
  }
}