.carousel-inner img {
  width: 110%;
  height: 500px;         
     

}
@media (max-width: 768px) {
  .carousel-inner img {

    height: auto ;   
    aspect-ratio: 16 / 9;      
   
    
    object-fit: cover;        
    object-position: center;   
  }
}